# Server
PORT=3000

# MongoDB Connection
MONGODB_USER=<твій_користувач>
MONGODB_PASSWORD=<твій_пароль>
MONGODB_URL=<твій_URL_з_Atlas>
MONGODB_DB=contactsDB

# JWT Secrets
ACCESS_TOKEN_SECRET=<твій_секретний_ключ_для_доступу>
REFRESH_TOKEN_SECRET=<твій_секретний_ключ_для_рефрешу>
JWT_SECRET=<твій_секретний_ключ_для_JWT>

# SMTP (Brevo) для відправки email
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=<твій_SMTP_логін>
SMTP_PASSWORD=<твій_SMTP_пароль>
SMTP_FROM=<твоя_електронна_пошта_з_Brevo>

# Cloudinary (для зберігання фото)
CLOUDINARY_CLOUD_NAME=<твій_cloud_name>
CLOUDINARY_API_KEY=<твій_api_key>
CLOUDINARY_API_SECRET=<твій_api_secret>

# Frontend domain для посилань на скидання паролю
APP_DOMAIN=https://your-frontend-app.com
